@model BUS.ThiSinh

@{
	ViewBag.Title = "DangKy";
}

<h2>DangKy</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">

	<div class="form-group">
		<div class="col-md-2 control-label ">
			<strong>Mã CMND</strong>
		</div>
		<div class="col-md-10">
			@Html.EditorFor(model => model.MaCMND, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.MaCMND, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 control-label ">
			<strong>Họ và tên</strong>
		</div>
		<div class="col-md-10">
			@Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 control-label ">
			<strong>Giới tính</strong>
		</div>
		<div class="col-md-10">
			@Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 control-label ">
			<strong>Ngày sinh</strong>
		</div>
		<div class="col-md-10">
			@Html.TextBoxFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" }, @type = "date" })
			@Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 control-label ">
			<strong>Nơi Sinh</strong>
		</div>
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.NoiSinh, null, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.NoiSinh, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2 control-label ">
			<strong>Số điện thoại</strong>
		</div>
		<div class="col-md-10">
			@Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>